<div class="content"> 
  <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>Title 01</h6>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://cdn.pixabay.com/photo/2018/04/09/19/55/low-poly-3305284_960_720.jpg" alt="" />
                              </div>
                              <div class="text-container">                                    
                                  <h6>Title 02</h6>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://cdn.pixabay.com/photo/2018/04/06/13/46/poly-3295856_960_720.png" alt="" />
                              </div>
  
                              <div class="text-container">
                                  <h6>Title 03</h6>
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>Title 04</h6>
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
  
  <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
  
  <div class="container text-center">
    <h1>Product card</h1>
    <div class="shell">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
                <img src="https://3.bp.blogspot.com/-eDeTttUjHxI/WVSvmI-552I/AAAAAAAAAKw/0T3LN6jABKMyEkTRUUQMFxpe6PLvtcMMwCPcBGAYYCw/s1600/001-culture-clash-matthew-gianoulis.jpg" alt="Product" class="img-responsive" />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Ethnic</span>
                </div>
                <div class="title-product">
                  <h3>My face not my heart</h3>
                </div>
                <div class="description-prod">
                  <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">Rp500.000</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="https://1.bp.blogspot.com/-b-2SgNUrFHg/WVSvmewWqgI/AAAAAAAAAK0/1K4YCcbYjhokHwV_IgiVJN9mEnQoWunIwCPcBGAYYCw/s1600/fashion-portrait-nicole-6347.jpg" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Introvert</span>
                </div>
                <div class="title-product">
                  <h3>My face not my heart</h3>
                </div>
                <div class="description-prod">
                  <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">Rp500.000</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="https://1.bp.blogspot.com/-XL_Ba-178Fo/WVSvm5AbApI/AAAAAAAAAK4/X5109HTqUiAhPjbmz4NFVHcpL7ZWe6T3ACPcBGAYYCw/s1600/wow-29.jpg" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Beauty</span>
                </div>
                <div class="title-product">
                  <h3>My face not my heart</h3>
                </div>
                <div class="description-prod">
                  <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">Rp500.000</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img src="https://3.bp.blogspot.com/-iUes8qr4uC8/WVSvl6Wf_fI/AAAAAAAAAKs/JiTUUVvdbqEC_QGGaQhuVJiezIN3LIqEgCPcBGAYYCw/s1600/IMG_5367-bp.jpg" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>Drama</span>
                </div>
                <div class="title-product">
                  <h3>My face not my heart cvf ggf gfg g</h3>
                </div>
                <div class="description-prod">
                  <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">Rp500.000</span></div>
                  <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
  <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
  <div class="container">
    
      <div class="row" *ngFor="let post of posts | async">
       
        <div class="blogpost">
          <div class="col-sm-4">
         <div class="card shadow1">
          <h3><a href="/post/{{post.id}}" class="blog-title">{{post.title}}</a></h3>
          <div>
            <i class="fas fa-user"></i> Author: {{post.username}}
          </div>
          <br> 
          <p [innerHTML]="post.content"></p>
         
          <div>
            <a type="button" href="/post/{{post.id}}"   class="read-more btn btn-default"><span class="highlight">Read More</span></a>
          </div>
        </div>
        </div>
        </div>
        <hr>
      </div>
     
    </div>
    </div>
  </div>
  <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
  
  <!-- <section>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card card_r</div>ed text-center">
              <div class="title">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <h2>Basic</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>25</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i>10 GB Space</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>3 Domain Names</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>20 Emails Addresse</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i>Live Support</li>
                  </ul>
              </div>
              <a href="#">Order Now</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card_violet text-center">
              <div class="title">
                <i class="fa fa-plane" aria-hidden="true"></i>
                <h2>Premium</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>25</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i>10 GB Space</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>3 Domain Names</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>20 Emails Addresse</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i>Live Support</li>
                  </ul>
              </div>
              <a href="#">Order Now</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card_three text-center">
              <div class="title">
                <i class="fa fa-rocket" aria-hidden="true"></i>
                <h2>Standart</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>50</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i>50 GB Space</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>5 Domain Names</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>20 Emails Addresse</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i>Live Support</li>
                  </ul>
              </div>
              <a href="#">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   -->
  
  <!-- ----------------------------------------------------------------------------------------------------------------------- -->
  